*{
    box-sizing: border-box;
}
.container{
    position: relative;
}
.container input{
    width: 300px;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
}
.container label{
    position: absolute;
    top: 40%;
    left: 100px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    pointer-events: none;
    transition: .3s;
}
input:focus{
    border: 2px solid #00eeff;
}
input:focus ~ label,
input:valid ~ label{
    top: 0;
    font-size: 16px;
    padding: 0 10px;
    background:#000000;
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#se{
    margin-top: 10px;
}
body {
    background-image: url("./spider-man.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.glossy-box {
    width: 360px;
    height: auto;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 2.5em;
    border-radius: 5px;
    border: none;
    background-color: #252525;
    color: white;
    margin-bottom: 10px;
}

.calculator-keys {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    /* display: inline-block; */
    height: 60px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    background-color: #505050;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.zero {
    grid-column: span 2;
}

button.operator {
    background-color: #ff9500;
}

button.equal-sign {
    background-color: #ff9500;
    grid-column: span 4;
}

button.all-clear {
    background-color: #ff3b30;
}

button.all-clear:hover {
    background-color: whitesmoke;
    color: #191919;
}

button:hover {
    background-color: #c2c2c2;
    color: black;
    transition: 0.5s;
}

.link-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: #00eeff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: whitesmoke;
    color: black;
}

.interest-details {
    margin-top: 20px;
    color: white; /* Set text color to white */
    width: 100%;
}

.detail {
    margin-bottom: 10px;
}


/* Hide spinners */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Other browsers */
}

/* Hide spinners for input type="number" in WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Date input container */
.date-input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.date-label {
    width: 35%;
    font-size: 1.2em;
    color: white;
}

.date-input {
    width: 65%;
    height: 40px;
    padding-left: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: #252525;
    color: white;
}
